<div class="container">
  <div class="row">
    <h1 class="title">Sign up to manage your bookstore !!</h1>
  </div>
  <div class="row" id="event">
    <% flash.each do |typeAlert, message| %>
        <div class="alert alert-<%= typeAlert %>"><%= message %></div>
    <% end %>
  </div>
  <div class="row">
    <% if @user.errors.any? %>
        <% for message_error in @user.errors.full_messages %>
            <div class="alert-fail"><%= message_error %></div>
        <% end %>
    <% end %>
  </div>
  <div class="row">
    <%= form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f| %>
        <div class="row">
          <div class="input-field">
            <%= f.text_field :lastname, :id => 'lastname' %>
            <label for="lastname">Lastname</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <%= f.text_field :firstname, :id => 'firstname' %>
            <label for="firstname">Firstname</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <%= f.password_field :pass, :id => 'pass' %>
            <label for="pass">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <%= f.email_field :email, :id => 'email' %>
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="endButton">
            <%= f.submit "Sign up", :class => 'waves-effect btn-flat' %>
          </div>
        </div>
    <% end %>
    <div class="row">
      <h1 class="title">Have an account ?</h1>
    </div>
    <div class="row">
      <div class="endButton">
        <a class="waves-effect btn-flat" href="/login">Login</a>
      </div>
    </div>
  </div>
</div>