<div class="container">
  <div class="row">
    <h1 class="title">You can add here a new customer !!</h1>
  </div>
  <div class="row" id="event">
    <% flash.each do |typeAlert, message| %>
        <div class="alert alert-<%= typeAlert %>"><%= message %></div>
    <% end %>
  </div>
  <div class="row" id="allButton">
    <div class="row">
      <%= form_tag "/logout", method: "post" do %>
          <%= csrf_meta_tags %>
          <div class="endButton">
            <button class="waves-effect btn-flat">Logout</button>
          </div>
      <% end %>
    </div>
    <div class="row">
      <div class="endButton">
        <a class="waves-effect btn-flat" href="/books">All Books</a>
        <a class="waves-effect btn-flat" href="/orders">All Orders</a>
        <a class="waves-effect btn-flat" href="/customers">All Customers</a>
        <a class="waves-effect btn-flat" href="/logs">All Logs</a>
      </div>
    </div>
    <div class="row">
      <div class="endButton">
        <a class="waves-effect btn-flat" href="/order/new">Add Order</a>
        <a class="waves-effect btn-flat" href="/book/new">Add Book</a>
      </div>
    </div>
  </div>
  <div class="row">
    <% if @customer.errors.any? %>
        <% for message_error in @customer.errors.full_messages %>
            <div class="alert-fail"><%= message_error %></div>
        <% end %>
    <% end %>
  </div>
  <div class="row">
    <%= form_for(:customer, :url => {:controller => 'customers', :action => 'create'}) do |f| %>
        <div class="row">
          <div class="input-field">
            <%= f.text_field :lastname, :id => 'lastname' %>
            <label for="lastname">Lastname</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <%= f.text_field :firstname, :id => 'firstname' %>
            <label for="firstname">Firstname</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <%= f.text_field :adresse, :id => 'adresse' %>
            <label for="adresse">Adresse</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <%= f.text_field :city, :id => 'city' %>
            <label for="city">City</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <%= f.email_field :email, :id => 'email' %>
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="endButton">
            <%= f.submit "Add the customer", :class => 'waves-effect btn-flat' %>
          </div>
        </div>
    <% end %>
  </div>
</div>