<div class="container">
  <div class="row">
    <h1 class="title">Welcome back <%= @userLastname %>  <%= @userFirstname %>!!</h1>
  </div>
  <div class="row" id="event">
    <% flash.each do |typeAlert, message| %>
        <div class="alert alert-<%= typeAlert %>"><%= message %></div>
    <% end %>
  </div>
  <div class="row">
    <%= form_tag "/logout", method: "post" do %>
        <%= csrf_meta_tags %>
          <div class="endButton">
            <button class="waves-effect btn-flat">Logout</button>
        </div>
    <% end %>
  </div>
</div>