<div class="container">
  <div class="row">
    <h1 class="title">Welcome back <%= @userLastname %>  <%= @userFirstname %>!!</h1>
    <h1 class="title">Here is all your books list !!</h1>
  </div>
  <div class="row" id="event">
    <% flash.each do |typeAlert, message| %>
        <div class="alert alert-<%= typeAlert %>"><%= message %></div>
    <% end %>
  </div>
  <div class="row" id="allButton">
    <div class="row">
      <%= form_tag "/logout", method: "post" do %>
          <%= csrf_meta_tags %>
          <div class="endButton">
            <button class="waves-effect btn-flat">Logout</button>
          </div>
      <% end %>
    </div>
    <div class="row">
      <div class="endButton">
        <a class="waves-effect btn-flat" href="/orders">All Orders</a>
        <a class="waves-effect btn-flat" href="/customers">All Customers</a>
        <a class="waves-effect btn-flat" href="/logs">All Logs</a>
        <a class="waves-effect btn-flat" href="/users">All Users</a>
      </div>
    </div>
    <div class="row">
      <div class="endButton">
        <a class="waves-effect btn-flat" href="/book/new">Add Book</a>
        <a class="waves-effect btn-flat" href="/order/new">Add Order</a>
        <a class="waves-effect btn-flat" href="/customer/new">Add Customer</a>
      </div>
    </div>
  </div>
  <% if @books.length == 0 %>
      <p class="title">No book stored yet !!</p>
  <% else %>
      <div class="row">
        <% @books.each do |book| %>
            <div class="card col s4">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="/images/<%= book.cover %>">
              </div>
              <div class="card-content">
                <p class="card-title activator grey-text text-darken-4"><%= book.name %></p>
                <p class="card-title activator grey-text text-darken-4">By <%= book.author %></p>
                <p class="card-title activator grey-text text-darken-4">In <%= book.year %></p>
                <p class="card-title activator grey-text text-darken-4"><a class="waves-effect btn-flat" href="book/<%= book.id %>">Edit</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">X</span>
                <p><%= book.resume %></p>
                <p>List of Kind :</p>
                <% book.kind.split("|").each do |kind| %>
                    <li><%= kind %></li>
                <% end %>
              </div>
            </div>
        <% end %>
      </div>
  <% end %>
</div>