<div class="container">
  <div class="row">
    <h1 class="title">Welcome back <%= @userLastname %>  <%= @userFirstname %>!!</h1>
    <h1 class="title">Here is all this bookstore history !!</h1>
  </div>
  <div class="row" id="event">
    <% flash.each do |typeAlert, message| %>
        <div class="alert alert-<%= typeAlert %>"><%= message %></div>
    <% end %>
  </div>
  <div class="row" id="allButton">
    <div class="row">
      <%= form_tag "/logout", method: "post" do %>
          <%= csrf_meta_tags %>
          <div class="endButton">
            <button class="waves-effect btn-flat">Logout</button>
          </div>
      <% end %>
    </div>
    <div class="row">
      <div class="endButton">
        <a class="waves-effect btn-flat" href="/orders">All Orders</a>
        <a class="waves-effect btn-flat" href="/books">All Books</a>
        <a class="waves-effect btn-flat" href="/customers">All Customers</a>
      </div>
    </div>
    <div class="row">
      <div class="endButton">
        <a class="waves-effect btn-flat" href="/book/new">Add Book</a>
        <a class="waves-effect btn-flat" href="/order/new">Add Order</a>
        <a class="waves-effect btn-flat" href="/customer/new">Add Customer</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="#login">Login</a></li>
        <li class="tab col s3"><a href="#logout">Logout</a></li>
        <li class="tab col s3"><a href="#customer">Customer</a></li>
        <li class="tab col s3"><a href="#book">Book</a></li>
        <li class="tab col s3"><a href="#order">Order</a></li>
      </ul>
    </div>
    <div class="row" id="login">
      <% if @logins.length == 0 %>
          <p class="title">No login logs yet !!</p>
      <% else %>
          <table class="highlight responsive-table">
            <thead>
            <tr>
              <th data-field="date">Date</th>
              <th data-field="lastname">Lastname</th>
              <th data-field="firstname">Firstname</th>
            </tr>
            </thead>
            <tbody>
            <% @logins.each do |login| %>
                <tr>
                  <td><%= login["date"] %></td>
                  <td><%= login["lastname"] %></td>
                  <td><%= login["firstname"] %></td>
                </tr>
            <% end %>
      <% end %>
      </tbody>
      </table>
    </div>
    <div class="row" id="logout">
      <% if @logouts.length == 0 %>
          <p class="title">No logout logs yet !!</p>
      <% else %>
          <table class="highlight responsive-table">
            <thead>
            <tr>
              <th data-field="date">Date</th>
              <th data-field="lastname">Lastname</th>
              <th data-field="firstname">Firstname</th>
            </tr>
            </thead>
            <tbody>
            <% @logouts.each do |logout| %>
                <tr>
                  <td><%= logout["date"] %></td>
                  <td><%= logout["lastname"] %></td>
                  <td><%= logout["firstname"] %></td>
                </tr>
            <% end %>
      <% end %>
      </tbody>
      </table>
    </div>
    <div class="row" id="book">
      <% if @books.length == 0 %>
          <p class="title">No book logs yet !!</p>
      <% else %>
          <table class="highlight responsive-table">
            <thead>
            <tr>
              <th data-field="date">Date</th>
              <th data-field="lastname">Lastname</th>
              <th data-field="firstname">Firstname</th>
              <th data-field="name">Book Name</th>
              <th data-field="author">Book Author</th>
            </tr>
            </thead>
            <tbody>
            <% @books.each do |book| %>
                <tr>
                  <td><%= book["date"] %></td>
                  <td><%= book["lastname"] %></td>
                  <td><%= book["firstname"] %></td>
                  <td><%= book["name"] %></td>
                  <td><%= book["author"] %></td>
                </tr>
            <% end %>
      <% end %>
      </tbody>
      </table>
    </div>
    <div class="row" id="customer">
      <% if @customers.length == 0 %>
          <p class="title">No customer logs yet !!</p>
      <% else %>
          <table class="highlight responsive-table">
            <thead>
            <tr>
              <th data-field="date">Date</th>
              <th data-field="userLastname">Lastname</th>
              <th data-field="userFirstname">Firstname</th>
              <th data-field="customerLastname">Customer Lastname</th>
              <th data-field="customerFirstname">Customer Firstname</th>
            </tr>
            </thead>
            <tbody>
            <% @customers.each do |customer| %>
                <tr>
                  <td><%= customer["date"] %></td>
                  <td><%= customer["userLastname"] %></td>
                  <td><%= customer["userFirstname"] %></td>
                  <td><%= customer["customerLastname"] %></td>
                  <td><%= customer["customerFirstname"] %></td>
                </tr>
            <% end %>
      <% end %>
      </tbody>
      </table>
    </div>
    <div class="row" id="order">
      <% if @orders.length == 0 %>
          <p class="title">No order logs yet !!</p>
      <% else %>
          <table class="highlight responsive-table">
            <thead>
            <tr>
              <th data-field="date">Date</th>
              <th data-field="userLastname">Lastname</th>
              <th data-field="userFirstname">Firstname</th>
              <th data-field="customerLastname">Customer Lastname</th>
              <th data-field="customerFirstname">Customer Firstname</th>
              <th data-field="name">Book Name</th>
              <th data-field="author">Book Author</th>
              <th data-field="kind">Kind</th>
            </tr>
            </thead>
            <tbody>
            <% @orders.each do |order| %>
                <tr>
                  <td><%= order["date"] %></td>
                  <td><%= order["userLastname"] %></td>
                  <td><%= order["userFirstname"] %></td>
                  <td><%= order["customerLastname"] %></td>
                  <td><%= order["customerFirstname"] %></td>
                  <td><%= order["name"] %></td>
                  <td><%= order["author"] %></td>
                  <td><%= order["kind"] %></td>
                </tr>
            <% end %>
      <% end %>
      </tbody>
      </table>
    </div>
  </div>
</div>